
<br>
Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>

Category: <%= link_to @job.category.title, category_path(@job.category) %>
<br>
<div><%= link_to "Edit", edit_company_job_path(@company, @job) %></div>
<div> <%= link_to "Delete", company_jobs_path, :data => {:confirm => "Confirm Delete?", :method => "delete"}%>  </div>
<br>
<div class="">
  <% @job.comments.reverse_each do |comment| %>
  <%= comment.content %>
  <% end %>
</div>
<%= render partial: "/comments/form" %>
