<h1>Category Details</h1><br>
<div class="category-show">
  <%= @category.title %><br>
  <%= link_to "Edit", edit_category_path(@category) %><br>
  <%= link_to "Delete", category_path(@category), :data => {:confirm => "Confirm Delete?", :method => "delete"} %><br>
</div>
<div class="category-jobs-show">
  <% @category.jobs.each do |job| %>
  <%= job.title %>
  <%= job.description %>
  <%= job.level_of_interest %>
  <%= job.city %>
  <% end %>
</div>
<div class="home-link">
  <%= link_to "Go Back to Categories Index", categories_path %>

</div>
